<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
  <link rel="stylesheet" href="/css/styleOUT.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  <div class="flex min-h-screen bg-gray-100">
    <div class="fixed top-0 left-0 w-full h-16 bg-white shadow-md flex items-center justify-between px-4">
      <h1 class="text-xl font-medium">Your App Name</h1>
      <ul class="flex space-x-4">
        <li><a href="#" class="text-gray-600 hover:text-gray-800 underline">Home</a></li>
        <li><a href="#" class="text-gray-600 hover:text-gray-800 underline">About</a></li>
        <li><a href="#" class="text-gray-600 hover:text-gray-800 underline">Contact</a></li>
      </ul>
    </div>

    <div class="flex-grow px-4 pt-16 mt-16">
      <div class="flex flex-col mx-auto w-full md:w-1/2 lg:w-1/3">
        <div class="flex flex-col bg-white shadow-md rounded-md overflow-hidden">
          <div class="p-4 flex flex-col space-y-2">
            <h2 class="text-xl font-medium text-gray-800">Welcome, <%= username %></h2>
            <p class="text-gray-600">Nama: <%= nama_lengkap %></p>
            <p class="text-gray-600">Kelas: <%= kelas %></p>
            <p class="text-gray-600">Status: <%= status %></p>
          </div>

          <div class="flex flex-col space-y-2 p-4 border-t border-gray-200">
            <a href="#" id="generateQR" class="w-full px-4 py-2 text-center text-white bg-blue-500 rounded-md hover:bg-blue-700">Generate Absensi QR</a>
            <a href="#" id="generateChangePassword" class="w-full px-4 py-2 text-center text-white bg-blue-500 rounded-md hover:bg-blue-700">Ubah Password </a>
            <a href="#" id="generateChangeUsername" class="w-full px-4 py-2 text-center text-white bg-blue-500 rounded-md hover:bg-blue-700">Ubah Username </a>
            <a href="/login/logout" class="w-full px-4 py-2 text-center text-red-500 hover:text-red-700 underline">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <div class="fixed bottom-0 left-0 w-full h-12 bg-gray-200 flex items-center justify-center text-gray-500">
      &copy; 2024 Your Company Name
    </div>
  </div>

  <!-- Modal for displaying QR code -->
  <div id="qrModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75 hidden">
    <div class="bg-white p-8 rounded-md max-w-md">
      <img id="qrImage" src="" alt="QR Code" width="300" height="300">
      <button id="closeModal" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700">Close</button>
    </div>
  </div>

  <div id="changePasswordModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75 hidden">
    <div class="bg-white p-8 rounded-md max-w-lg">
      <form action="/api/send-change-password" method="POST">
        <label for="username">Nama Pengguna</label> <br>
        <input type="text" value="<%= username %>" name="username"> <br>
        <label for="passwordLama">Password Sebelumnya</label> <br>
        <input type="password" name="oldPassword"> <br>
        <label for="passwordBaru">Password Baru</label> <br>
        <input type="password" name="newPassword"><br>
        <button id="submitChangePassword" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700">Kirim</button>
      </form>
      <button id="closeModalChangePassword" class="mt-4 px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-700">Batalkan</button>
    </div>
  </div>

  <div id="changeUsernameModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75 hidden">
    <div class="bg-white p-8 rounded-md max-w-lg">
      <form action="/api/send-change-username" method="POST">
        <label for="usernameLama">Nama Pengguna</label> <br>
        <input type="text" value="<%= username %>" name="oldUsername"> <br>
        <label for="usernameBaru">Nama Pengguna Baru</label> <br>
        <input type="text" name="newUsername"> <br>
        <label for="password">Password</label> <br>
        <input type="password" name="password"><br>
        <button id="submitChangeUsername" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700">Kirim</button>
      </form>
      <button id="closeModalChangeUsername" class="mt-4 px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-700">Batalkan</button>
    </div>
  </div>

  <script src="/js/qr.js"></script>
  <script>
    // Function to generate QR code
    function generateQR(username, nama, kelas) {
      const json = {
        username,
        nama,
        kelas
      }
      const qrText = `${JSON.stringify(json)}`;
      const typeNumber = 0;
      const errorCorrectionLevel = 'L';
      const qr = qrcode(typeNumber, errorCorrectionLevel);
      qr.addData(qrText);
      qr.make();
      const qrDataUrl = qr.createDataURL(10); // Set the scale to 10 to ensure the QR code is clear
      document.getElementById('qrImage').src = qrDataUrl;
    }

    document.getElementById('generateQR').addEventListener('click', function() {
      const username = '<%= username %>';
      const nama = '<%= nama_lengkap %>';
      const kelas = '<%= kelas %>';
      generateQR(username, nama, kelas);
      document.getElementById('qrModal').classList.remove('hidden');
    });

    function changePassword() {
        const username = document.querySelector('input[name="username"]').value;
        const oldPassword = document.getElementById('oldPasswordInput').value;
        const newPassword = document.getElementById('newPasswordInput').value;

        fetch("/api/send-change-password", {
            body: JSON.stringify({ username, oldPassword, newPassword }),
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
        }).then((res) => {
            res.json().then((data) => {
                if (data.success) {
                    alert(data.message); // Notifikasi jika berhasil
                } else {
                    alert(data.error); // Notifikasi jika gagal
                }
            });
        });
    }
      document.getElementById('generateChangePassword').addEventListener('click', () => {
      document.getElementById('changePasswordModal').classList.remove('hidden');
    });

    function changeUsername() {
        const oldUsername = document.querySelector('input[name="oldUsername"]').value;
        const newUsername = document.querySelector('input[name="newUsername"]').value;
        const password = document.querySelector('input[name="password"]').value;

        fetch("/api/send-change-password", {
            body: JSON.stringify({ oldUsername, newUsername, password }),
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
        }).then((res) => {
            res.json().then((data) => {
                if (data.success) {
                    alert(data.message); // Notifikasi jika berhasil
                } else {
                    alert(data.error); // Notifikasi jika gagal
                }
            });
        });
    }
      document.getElementById('generateChangeUsername').addEventListener('click', () => {
      document.getElementById('changeUsernameModal').classList.remove('hidden');
    });
    


    document.getElementById('closeModal').addEventListener('click', function() {
      document.getElementById('qrModal').classList.add('hidden');
    });
    document.getElementById('closeModalChangePassword').addEventListener('click', function() {
      document.getElementById('changePasswordModal').classList.add('hidden');
    });
    document.getElementById('closeModalChangeUsername').addEventListener('click', function() {
      document.getElementById('changeUsernameModal').classList.add('hidden');
    });
  </script>
  <script src="/js/sweetalert2.js"></script>
</body>
</html>
